### WORKSPACE ##########################################
TZ=Asia/Yekaterinburg
WORKSPACE_TIMEZONE=Asia/Yekaterinburg
WORKSPACE_PUNAME='web'
WORKSPACE_PUID=1024
WORKSPACE_PGID=1000

### MARIADB ###############################################
MARIADB_VERSION=latest
MARIADB_DATABASE=default
MARIADB_USER=default
MARIADB_PASSWORD=secret
MARIADB_PORT=3306
MARIADB_ROOT_PASSWORD=root
MARIADB_ENTRYPOINT_INITDB=./docker/mariadb/docker-entrypoint-initdb.d
MARIADB_DATA=./docker/mariadb/data-

### PHP MY ADMIN ##########################################
# Accepted values: mariadb - mysql
PMA_DB_ENGINE=mariadb
# Credentials/Port:
PMA_USER=default
PMA_PASSWORD=secret
PMA_ROOT_PASSWORD=root
PMA_PORT=8081
PMA_MAX_EXECUTION_TIME=600
PMA_MEMORY_LIMIT=256M
PMA_UPLOAD_LIMIT=2G
